* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


html{
    scroll-behavior: smooth;;
}

section:not(:first-of-type){
    position: relative;
    width: 100vw;
    height: 120vh;
    padding: 30vh; 
}

h3 {
    text-align: center;
    font-size: 40pt;
}

section:not(:first-of-type):not(:last-of-type)::after { /* we don't want the first or the last section, we are targeting every one in between
    ::after is like a fake div that you can place after the element (the section tags)
    there is also a ::before pseudo-selector as well */
content: ""; /* content is ALWAYS ALWAYS required for ::after and ::before, if not needed, just left empty with double quotes*/
border: 30vh solid transparent; /* this is how we create the triangle, we set a border thickness (15vh) and make all borders transparent
by default, this imaginary div has a 0 height and 0 width, so you can't see the div, only the border
but the border for now is transparent so you can't see anything yet */
position: absolute; /* next few lines just position the imaginary div to the bottom center of the section */
left: 50%;
top: 100%;
transform: translate(-50%, 0);
z-index: 100; /* keep it above the next section */
}

/* Nav layout*/

nav { 
    position: absolute;
    width: 38vw;
    right: 0; /* this aligns the nav to the right instead of the left */
    z-index: 50; /* we want the nav above everything else, so when the squares rotate, it doesn't cover the nav */
    font-size: 1.5vw; /* dynamic font size */
    margin: 20px;
  }

  ul { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly; /* these codes just keep our boxes looking nice and aligned */
    list-style-type: none; /* remove bullets from list (our nav is a list) */
  }

  a { /* Used for both navs */
    position: relative; /* needed for z-index */
    text-decoration: none; /* removes default underline that links have */
    z-index: 80;
  }
  li { 
    position: relative; /* this is required because we are using a position: absolute on the child element */
    width: 25%; /* 25% of nav, there are 4 nav links, this sets each link to 25% of the nav width */
    text-align: center;
  }

  nav .nav-line { 
    position: absolute;
    left: 50%;
    bottom: -1vh;
    width: 40vw;
  }
  

  nav .nav-circle { /* This is only for Nav2 */
    position: absolute;
    left: -20px;
    top: -7px;
    width: 14px;
    height: 14px;
  }


/*Home*/

.container {
    position: inherit;
    height: 100vh;
    width: 100vw;
}


.side-line-long{
    position: absolute;
    left: 3vw;
    top: 5vh;
    width: 40vw;

}

.side-line-short{
    position:absolute;
    left:13vw;
    top: 0;
    width: 20vw;
}

.side-circle{
    position: absolute;
    left: -70px;
    top: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.outer-square{
    position: absolute;
    z-index: 5;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 50vw;
}

.mid-square{
    position: absolute;
    z-index: 10;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    width: 40vw;
    height: 40vw;
}

.inner-square {
    position: absolute;
    z-index: 20;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    width: 30vw;
    height: 30vw;
}

.rotate{
    transform: translate(-50%, -50%) rotate(-45deg);
}

.white-line{
    position: absolute;
    z-index: 15;
    top: 50vh;
    transform: translateY(-50%);
    height: 3vh;
    width: 100vw;
}


.inner-inner-square {
    position: absolute;
    pointer-events: none;
    z-index: 25;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.container p {
    text-align: center;
    opacity: 0;
    transition: opacity 2s ease-in;
}


.bottom-line-long {
    position: absolute;
    right: 3vw;
    bottom: 5vh;
    width: 40vw;
    border-top: 1px solid white;
    transform: rotate(-45deg);
}

.bottom-line-short {
    position: absolute;
    right: 13vw;
    bottom: 0;
    width: 20vw;
    border-top: 1px solid white;
    transform: rotate(-45deg);
    
}

.bottom-circle {
    position: absolute;
    right: -70px;
    bottom: -10px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
}

/*About*/



.container-about {
    z-index: 4;
   
}




.container-about  p{
    float: right;
    display: flex;
    justify-content: center;
}

div {
    display: inline-block;
    
}

.flex-container{
    display: flex;
    flex-direction: row;
}

.column-left{
    width: 50%;
    height: 100vh;
    margin: 5px;
    padding: 5px;
}

.column-right{
    width: 25%;
    margin: 5px;
    padding: 5px;
}

img{
    height: 65vh;
}



/*Project*/



.container-project {

    text-align: center;
}


.projectImage{
    height: 15vh;
    width: 35vw;
}

article {
  float: left;
  margin-right: 2%;
  width: 49%;
  font-size: x-large;
}

article:nth-child(even) {
    margin-right: 2%;
}
article:nth-child(3n){
    margin-right: 0;
}


/* Footer*/


footer{
    position: inherit;
    height: 15vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer button{
    padding: 5px 25px;
}
footer p{
    align-content: flex-end;
}