* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


html{
    scroll-behavior: smooth;;
}


section:not(:first-of-type){
    position: relative;
    width: 100vw;
    height: 120vh;
    padding-top: 30vh; 
}

h3 {
    text-align: center;
    font-size: 40pt;
    padding-bottom: 3vh;
}

section:not(:first-of-type):not(:last-of-type)::after { 
border: 15vh solid transparent; 
position: absolute; 
left: 50%;
top: 100%;
transform: translate(-50%, 0);
z-index: 100;
pointer-events: none;
}

/* Nav layout*/

nav { 
    position: absolute;
    width: 38vw;
    height: 5vh;
    right: 0; 
    z-index: 50; 
    margin-top: 20px;
    overflow-x: hidden;
  }

  ul { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly; 
    list-style-type: none; 
  }

  a { 
    position: relative; 
    text-decoration: none; 
    z-index: 80;
  }
  li { 
    position: relative; 
    text-align: center;
  }

  li:nth-last-of-type(2),
  li:nth-last-of-type(1) {
    transition: all 1s ease;
  }
  li:nth-last-of-type(2).float,
  li:nth-last-of-type(1).float {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0e2025;
    border-radius: 50%;
    z-index: 500;
    font-size: 12pt;
  }
  li:nth-last-of-type(1).float {
    bottom: 120px;
  }

  nav .nav-line { 
    position: absolute;
    left: 50%;
    bottom: 1vh;
    width: 40vw;
    
  }
  

  nav .nav-circle { 
    position: absolute;
    left: -20px;
    top: -7px;
    width: 14px;
    height: 14px;
  }


/*Home*/

.container {
    position: inherit;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}


.side-line-long{
    position: absolute;
    left: 3vw;
    top: 5vh;
    width: 40vw;

}

.side-line-short{
    position:absolute;
    left:13vw;
    top: 0;
    width: 20vw;
}

.side-circle{
    position: absolute;
    left: -70px;
    top: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.outer-square{
    position: absolute;
    z-index: 5;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 50vw;
}

.mid-square{
    position: absolute;
    z-index: 10;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    width: 40vw;
    height: 40vw;
}

.inner-square {
    position: absolute;
    z-index: 20;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    width: 30vw;
    height: 30vw;
}

.rotate{
    transform: translate(-50%, -50%) rotate(-45deg);
}

.white-line{
    position: absolute;
    z-index: 15;
    top: 50vh;
    transform: translateY(-50%);
    height: 3vh;
    width: 100vw;
}


.inner-inner-square {
    position: absolute;
    pointer-events: none;
    z-index: 25;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.container p {
    text-align: center;
    opacity: 0;
    transition: opacity 2s ease-in;
}


.bottom-line-long {
    position: absolute;
    right: 3vw;
    bottom: 5vh;
    width: 40vw;
    border-top: 1px solid white;
    transform: rotate(-45deg);
}

.bottom-line-short {
    position: absolute;
    right: 13vw;
    bottom: 0;
    width: 20vw;
    border-top: 1px solid white;
    transform: rotate(-45deg);
    
}

.bottom-circle {
    position: absolute;
    right: -70px;
    bottom: -10px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
}

/*About*/

.container-about {
    z-index: 4;
}


div {
    display: inline-block;
    
}

.flex-container{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.column-left{
    display: flex;
    justify-content: center;
    width: 50%;
}

.column-right{
    display: flex;
    justify-content: center;
    width: 50%;
}

.column-right p{
    width: 50%;
}

img{
    height: 65vh;
}

/* Skills */

.container-skill{
    padding: 0 50px;
    z-index: 1;
}

.container-skill main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    line-height: 40px;
    
}

.container-skill main p{
    width: 25%;
    text-align: center;
    margin: 50px 0;
}




/*Project*/



.container-project {
    
    text-align: center;
    
}

.slideshow-container{
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.project-slide{
    display: none;
}



  .text {
    color: white;
    font-size: 20px;
    padding: 8px 12px;
    bottom: 8px;
    width: 100%;
    
  }
  .numbertext {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    top: 0;
    
  }

  /* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  



/* Footer*/


footer{
    position: inherit;
    height: 15vh;
    width: 100vw;
   
    display: flex;
    justify-content: center;
    align-items: center;
}

footer button{
    padding: 5px 25px;
}
footer p{
    align-content: flex-end;
}

@media only screen and (max-width: 600px){
    
    
    .flex-container{
        flex-direction: column;
    }
    .flex-container aside{
        width: 100%;
    }

    .container-about{
        height: fit-content !important;
    }

    .container-skill main p{
        font-size: 20px;
        line-height: 25px;
        
    }
    
    .container-skill main p:hover{
        font-size: 25px;
    }
    

}