/*Main design*/

/* Nav styling */

nav a{
    color: #808080;
}
nav iframe{
    color: #808080;
}

.nav-line{
    border-top: 1px solid white;
}

.nav-circle { 

    background-color: white;
    border-radius: 50%;
  }

  li:hover a {  
    color: white;
    
}

li:hover iframe{
    color: white;
}

/*Home*/

.container{
    background-color: #0E2249;
    
}


.side-line-long{
    border-top: 1px solid white;
    transform: rotate(-45deg);
}

.side-line-short{
    border-top: 1px solid white;
    transform: rotate(-45deg);
}

.side-circle{
    background-color: white;
}

.outer-square{
    background-color: #0E2025;
    transition: transform 2s linear;
}

.mid-square{
    background-color: #102EF4;
    transition: transform 1.5s linear;
}

.inner-square {
    background-color: #0E2025;
    transition: transform 1s linear;
}

.white-line{
    background-color: white;
}

.container p:first-child {
    font-size: 50pt;
    white-space: nowrap;
    color: #102EF4;
    text-shadow: 0 0 5px white, 0 0 5px white, 0 0 5px white;
    border-bottom: 1px solid white;
}

.container p:last-child {
    font-size: 25pt;
    white-space: nowrap;
    color: white;
}




/*About*/
.container-about{

    background-image: linear-gradient(to bottom , #0f2552, #102EF4);
    color: white;
}

.column-right{
    opacity: 0;
    transition: opacity 2s ease-in;
    font-size: large;
}

.container-about::after {
    border-top-color: #102EF4 !important; 
}


/* Skills */


.container-skill{
    background-image: linear-gradient(to bottom , black, #1060f4);
    color: #27c4c1;
}
.container-skill main p{
    font-size: 30px;
    transition: all 0.5s ease;
    cursor: default;
    
}

.container-skill main p:hover{
    font-size: 40px;
}
.container-skill::after{
    border-top-color: #1060f4 !important;
}


/*Project*/

.container-project {
    background-image: linear-gradient(to bottom , #102EF4, #0f2552);
    color: white;
}





/* Footer*/


footer{
    background-color: black;
    color: white;
    font-size: 20px;
}


footer button {
    font-size: 35px;
    background-color: black;
    border-style: none;
}
footer a{
    color: white;
}

footer a:hover{
    color: #122ff5;
}