/*Main design*/

/* Nav styling */
nav {
    background-color: black;
}

nav li{
    list-style-type: none;
    font-size: larger;
}

nav li a{
    text-decoration: none;
    color: white;
}

nav a:hover{
    color: #122ff5;
}

/*Home*/


.container-home{
    background-image:url(/Images/Portfolio\ Main\ Background.png);
    color: white;
    font-size: x-large;
}

.highlight{
    color: #122ff5;
}


/*About*/



/*Contact*/



.container-contact button {
    font-size: 20px;
    border-style: none;
    background-color: white;
}

/*Project*/
#Projects {
    background-color: rgb(241, 241, 237);
}


/* Footer*/


footer{
    background-color: black;
    color: white;
    font-size: 20px;
}


footer button {
    font-size: 35px;
    background-color: black;
    border-style: none;
}
footer a{
    color: white;
}

footer a:hover{
    color: #122ff5;
}